@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  box-sizing: border-box;
  font-family: "Orbitron";
  font-weight: 800;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, rgb(213, 241, 214), rgb(132, 179, 163));
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: minmax(7.5rem, auto) repeat(5, 7rem);
}

.calculator > button {
  cursor: pointer;
  font-size: 2rem;
  border: 7px solid rgb(207, 207, 207);
  padding: 0.3rem;
  outline: none;
  background-color: rgba(243, 227, 186, 0.945);
}

#op {
  background-color: rgba(179, 170, 152, 0.7);
}

#op:hover {
  background-color: rgba(252, 252, 252, 0.7);
}

.calculator > button:hover {
  background-color: rgba(233, 188, 92, 0.7);
}

.two-space-button {
  grid-column: span 2;
}

.screen {
  grid-column: 1 / -1;
  height: 10rem;
  min-height: fit-content;
  border: 7px solid rgb(207, 207, 207);
  background-color: rgb(138, 136, 136);
  color: rgb(43, 43, 43, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 0.7rem;
  word-wrap: break-word;
  word-break: break-all;
  overflow: auto;

}

.prev-operation {
  font-size: 1.5rem;
}

.current-operation {
  font-size: 3rem;
}
